@import "../../styles/index";

.devices-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__block {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column; 
  }

  &__items {
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-bottom: 16px;
    column-gap: 2.3%;
    row-gap: 10px;
  }
  &__title {
    margin-bottom: 24px;
  }
}

.deviceItem {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 28px;
    margin-bottom: 8px;
  }
  &__desc {
    font-size: 12px;
  }
  &__wrapper {
    width: 195px;
    padding: 20px;
    background: $darkPurpleColor;
    border-radius: 25px;
    text-decoration: none;
    color: $orangeColor;
    transition: 0.2s ease-in-out;

    &:hover {
      background: $orangeColor;
      color: $purpleColor;
    }  
  }
}