@import "../../styles/index";

.devices-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__block {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column; 
  }

  &__items {
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-bottom: 16px;
    gap: 2%;
  }
  &__title {
    margin-bottom: 24px;
  }
}